@import "../../App.scss";


/* Monument */

.monument{
    width: 100%;
    
  }

  .monument:hover {
    box-shadow: var(--darkShadow);
  }


  .img-container{
    position: relative;
  }

  .img-container{
    img{
      width: 100%;
    }
    
  }

 
  /* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

  .filter-container {
    padding: 5rem 0;
  }

  .imgFull{
    img{
      width: 100%;
    }
  }
 