@import "../../App.scss";


/* Monument */

.monument{
    width: 100%;
    
  }

  .monument:hover {
    box-shadow: var(--darkShadow);
  }


  .img-container{
    position: relative;
  }

  .img-container{
    img{
      width: 100%;
    }
    
  }

 
  /* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

  .filter-container {
    padding: 5rem 0;
  }

  .imgFull{
    img{
      width: 100%;
    }
  }

  .tooltip {
    position: absolute;
    color: #fff;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
  }

  .loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
  }


  .AutoCompleteText-Component{
    margin: 50px auto 0 auto;
    width: 600px;
  }

  